

header {
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	height: 560px;
}




.navbar-default {
	background-image: none !important;
	background-color: #00539C !important;
	li {
		width: 180px;
		text-align: center;
		color: #fff !important;
		a {
			color: #fff !important;
		}
	}
	
	.active {
		a {
			color: #777 !important;
		}
	}
}


h1 {
	font-size: 18px;
}

h2 {
	font-size: 14px;
}

.deal-row-wrapper {

	position: relative;
	
}
.deal-row {
	width: 100%;
	overflow: hidden;
	
	ul {
		position: relative;
		width: 99999px;
		
		li {
			border: solid 1px #e5e5e5;
			padding: 20px;
			list-style-type: none;
			width: 390px;
			float: left;
			margin-right: 10px;

		}
	}
}



.right-arrow {
	position: absolute;
	top: 125px;
	right: 40px;
	font-size: 50px;
	height: 50px;
	z-index: 100;
}

.left-arrow {
	position: absolute;
	top: 125px;
	left: 10px;
	font-size: 50px;
	height: 50px;
	z-index: 100;
}

.show {
	display: block;
}

.details {
	display: none;
	ul {
		width: auto;
		li {
			clear: both;
			padding: 0;
			border: none;
			list-style-type: circle;
			
		}
	}
}

/*MODAL*/

.modalPopup{
	display: none;
	position: fixed;
	top: 10px;
	z-index: 600;
	width: 340px;
	border: solid 1px gray;
	background-color: #fff;
	padding: 20px;
}

//lightbox bg
.bg {
  position: fixed;
	overflow:hidden;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000;
     filter:alpha(opacity=50);
     -moz-opacity:0.5;
     -khtml-opacity: 0.5;
     opacity: 0.5;
     z-index: 500;
}
