

header {
	background-image: url('../img/top-nav.jpg');
	background-repeat: no-repeat;
	height: 205px;
}

.deal-of-the-week{
	background: #999;
	color: #fff;
	text-align: center;
	line-height: 48px;
	position: relative;
	span {
		font-size: 16px;
	}
}

.banner {
	background: #99CCFF;
	padding: 100px 0px 70px 0px;
	h1 {
		text-align: center;
		margin: 0px;
		padding: 0px;
	}
	
	.tst {
		background-color: orange;
		width: 70%;
		margin: 60px auto 0px auto;
		height: 80px;
	}
}

.navbar-default {
	background-image: none !important;
	background-color: #00539C !important;
	li {
		width: 180px;
		text-align: center;
		color: #fff !important;
		a {
			color: #fff !important;
		}
	}
	
	.active {
		a {
			color: #777 !important;
		}
	}
}


h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.deal-row-wrapper {

	position: relative;
	
}




.deal-row {
	width: 100%;
	overflow: hidden;
	
	ul {
		position: relative;
		width: 99999px;
		
		li {
			border: solid 1px #e5e5e5;
			padding: 20px;
			list-style-type: none;
			width: 390px;
			float: left;
			margin-right: 10px;
			img {
				max-width: 200px;
				height: 100px;
			}

		}
	}
}



.right-arrow {
	position: absolute;
	top: 125px;
	right: 40px;
	font-size: 50px;
	height: 50px;
	z-index: 100;
}

.left-arrow {
	position: absolute;
	top: 125px;
	left: 10px;
	font-size: 50px;
	height: 50px;
	z-index: 100;
}

.show {
	display: block;
}

.details {
	display: none;
	ul {
		width: auto;
		li {
			clear: both;
			padding: 0;
			border: none;
			list-style-type: circle;
			
		}
	}
}

/*MODAL*/

.modalPopup{
	display: none;
	position: fixed;
	top: 10px;
	z-index: 600;
	width: 540px;
	border: solid 1px gray;
	background-color: #fff;
	padding: 20px;
}

//lightbox bg
.bg {
  position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000;
     filter:alpha(opacity=50);
     -moz-opacity:0.5;
     -khtml-opacity: 0.5;
     opacity: 0.5;
     z-index: 500;
}
